.definitions {
  height: 55vh;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  scrollbar-width: thin;
  scrollbar-color: #e5e5e5 #fff;
  border: 10px solid #474545;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.subTitle {
  font-size: 5vh;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.definition {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  .meanings {
    height: 60vh;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* scrollbar-width: thin; */
  }
  .subTitle {
    font-size: 3vh;
  }
}
